.heading {
  position: relative;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  color: #56CCF2;
  letter-spacing: 2px;
  width: max-content;
  margin-left: 32px;
  
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 21px;
    height: 21px;
    left: -32px;
    background-image: url("../images/Vector-heading.png");
  }
}